/* Projects */
.css-10ynupg {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    padding-top: 32px;
    padding-bottom: 32px;

}

@media screen and (min-width: 48em)
{.css-1t5zxyg {
    max-width: 1600px;
}
.css-1t5zxyg {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}}

@media screen and (min-width: 48em)
  {.css-zgg4hd {
      grid-template-columns: repeat(3,1fr);
  }
  @media screen and (min-width: 32em)
  {
  .css-zgg4hd {
      box-sizing: border-box;
      min-width: 0;
      display: grid;
      grid-gap: 15px;
  }}}

.card {
    margin: 16px 16px;
    box-sizing: border-box;
    min-width: 0;
    background-color:rgb(255, 255, 255);
    color: #1f2d3d;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 13%);
    overflow: hidden;
    transition: transform .2s;
}

.card:hover{
    transform: scale(1.1);
}
.card-inside {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(6, 1fr);
}

.card-leftcontent {
    box-sizing: border-box;
    margin-top: 2rem;
    width: 5rem;
    min-width: 0;
    grid-column: span 1;
    text-align: center;
    justify-content: center;
}
.card-leftcontent:before {
    content: '';
    background-color: #a633d6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12px;
}
.card-image {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    max-width: 100%;
    height: auto;
    border-radius: 9999px;
    margin-right: 16px;
    overflow: hidden;
    margin-left: 6%;
    /* -webkit-transition: -webkit-transform 0.125s ease-in-out;
    transition: transform 0.125s ease-in-out; */
}

.card-p-left{
    font-size: 14px;
    margin-top: 1em;
    line-height: 1.3 !important;
    text-align: center;
}

.card-rightcontent {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    grid-column: span 5;
}

.card-details-right {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
}

.card-heading-right {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-weight: 700;
    line-height: 1.125;
    margin-top: 8px;
    margin-bottom: 16px;
    letter-spacing: 0.009em;
    font-size: 32px;
    color: #000;
}

.card-p-right {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    margin-top: 4px;
    margin-bottom: 13px;
    color: #000;
    font-size: 18px;
}

.card-a-right {
    background-color: #252429;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 14px;
    color: aliceblue;
}
.card-star{
    font-size: 20px;
    font-weight: 700;
    padding-left: 2rem;
}

